<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>


    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #84eeff;
      padding: 25px;
    }

  </style>
</head>
<body>

<div class="container ">
    <div class="root responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12  ">
           
			<div class="footer aem-GridColumn aem-GridColumn--default--12" data-sly-include="include.html"></div>
         </div>
    </div>
</div>
</body>
</html>