<!DOCTYPE html>
<html lang="en">
<head>

<style>
.footer {
  width: 100%;
  color: white;
  text-align: center;
  background: #646464 ;
}
</style>


</head>
<body>

<div class="container-fluid">

    <div class="footer">

            <div class="row">
                <div class="col-md-12">
                <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><strong>ETAP Project<strong></p>
				</div>
                    <div class="text-center">
                        <a href="#top" class="btn btn-success" action="${currentPage.Path @ selectors=''}.html">Back to the top</a>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>


</footer>

</body>
</html>